---
import Layout from "../layouts/Layout.astro";
import HeroSection from '../components/HeroSection.astro';
import Card from "../components/Card.astro";
import TestimonialSlider from "../components/TestimonialSlider.astro";

const games = [
  {
    title: "Car Parking",
    image: "/images/car-parking.png",
    link: "https://gamesmobzone.com/com.gamesmobzone.carparkingrealdrivingsimulator",
  },
  {
    title: "Subway Santa Princess",
    image: "/images/subway-santa.png",
    link: "https://gamesmobzone.com/com.gamesmobzone.subwaysantaprincess",
  },
  {
    title: "Subway Rush",
    image: "/images/subway-rush.png",
    link: "https://gamesmobzone.com/com.gamesmobzone.subwayrushendlessrun",
  },
];


---

<Layout title="G-Mame - Level Up Your Game">




  <!-- Hero Section -->
<HeroSection 
  titleLine1="Subway"
  titleLine2="Santa"
  description="Save your loved beautiful Princess and Santa Claus bypass so many obstacles on her Subway rush as fast as you can to escape the police. Use skateboard, Jet-pack to run faster, jump and slide to avoid hitting many obstacles on your subway trains."
  bgImage="/images/subway-santa.png"
  heroImage="/images/subway-santa-hero.png"
  gameUrl="https://gamesmobzone.com/com.gamesmobzone.subwaysantaprincess"
  imageSide="right"
/>

  <!-- Game Collection Section -->
  <section id="games" class="py-24 relative">
    <div
      class="absolute inset-0 bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-secondary/10 to-transparent pointer-events-none"
    >
    </div>
    <div class="container mx-auto px-4 relative z-10">
      <div class="text-center mb-16">
        <h2
          class="text-4xl md:text-5xl font-black text-white mb-4 uppercase italic"
        >
          Find our Games on PLAYSTORE
        </h2>
        <div class="w-24 h-1 bg-gradient-to-r from-primary to-accent mx-auto">
        </div>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          games.map((game) => (
            <Card title={game.title} image={game.image} link={game.link} />
          ))
        }
      </div>
    </div>
  </section>

  <TestimonialSlider />


  <HeroSection 
  titleLine1="CAR PARKING"
  titleLine2="SIMULATOR"
  description="Play the most fun and exciting car parking game on the market. Challenge yourself to park your car in the most challenging spots and avoid collisions with other cars."
  bgImage="/images/h2-img-2.png"
  heroImage="/images/h2-img-2.png"
  gameUrl="https://gamesmobzone.com/com.gamesmobzone.carparkingrealdrivingsimulator"
  imageSide="left"
/>
</Layout>
